aiogram>=3.0.0,<4.0
aio-pika>=9.0.4,<10.0
aiohttp>=3.8,<4.0
asyncpg>=0.29,<0.31
redis>=4.6,<5.0
openai>=1.3.8,<2.0
python-dotenv>=1.0,<2.0
pycryptodome>=3.17,<4.0
cryptography>=41.0.0,<44.0
bcrypt>=4.0,<5.0
pillow>=10,<12
pytesseract>=0.3.10,<0.4
PyMuPDF>=1.23,<1.26
jinja2>=3.1,<4.0
loguru>=0.7,<0.8
sentry-sdk>=1.23,<2.0
yookassa>=3.0.1,<4.0
